{% extends "_base.html" %}
{% block main %}
  <script>
      const like = function (element) {
          let nr_likes = parseInt(element.textContent);
          nr_likes += 1;

          let data = {nr_likes: nr_likes};

          fetch("/b/xxx/", {
              method: "POST",
              body: JSON.stringify(data),
          }).then(
              resp => {
                  resp.json().then(
                      data => {
                          console.log(JSON.stringify(data));
                          element.textContent = nr_likes;
                      }
                  );
              }
          );
      }
  </script>
  <h1>/b/</h1>
  {% with "Tell" as form_action_name %}
    {% with 'blog:new' as form_action_url %}
      {% include "blog/forms/post.html" %}
    {% endwith %}
  {% endwith %}
  <div id="posts-container">
    {% for post in object_list %}
      <article class="post">
        <span class="date">{% if post.edited %}✏️&nbsp;{% endif %}
          <a href="{% url 'blog:post' post.pk %}">{{ post.created_at }}</a></span>
        <span class="content">{{ post.content }}</span>
        <span class="views">👁&nbsp;{{ post.nr_views }}</span>
        <span class="likes" id="post_likes_{{ post.pk }}" onclick="like(this)">{{ post.nr_likes }}</span>
        <form class="modify" method="post" action="{% url 'blog:delete' post.pk %}">
          {% csrf_token %}
          <button type="submit">❌</button>
        </form>
      </article>
    {% endfor %}
  </div>
  <form method="post" action="{% url 'blog:wipe' %}">
    {% csrf_token %}
    <div class="post-form-controls">
      <button type="submit">Wipe</button>
    </div>
  </form>
{% endblock %}
